.about-main {
  width: 100;
  height: 100%;
  font-family: var(--font-family);
  text-align: center;
  letter-spacing: -0.05em;

  &__presentation {
    display: flex;
    flex-direction: column;

    h2 {
      margin-top: 25px;
    }

    &__social-container {
        margin-top: 25px;
      display: flex;
      justify-content: center;
      gap: 25px;
      font-size: 25px;
    }
  }
}
