.main-container {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  max-width: 1880px;
  margin: 0 auto;
  height: 100vh;
  position: relative;

  display: flex;

  .logo-mobile {
    display: none;
    
    a {
      font-family: var(--font-family);
      color: black;
      font-size: 15px;
    }
  }

  &__aside {
    flex: 1;
  }
  &__home {
    flex: 3;
    margin-top: 12vh;
    overflow: hidden;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 1000px) {
  .main-container {
    display: grid;
    grid-template-columns: 80vw 100vw;
    position: relative;

    .logo-mobile {
      display: block;
      position: fixed;
      top: 10px;
      left: 4%;
      z-index: 9999;
    }
    &__aside {
      width: 100%;
    }

    &__home {
      width: 100%;
    }

    .menu {
      display: block;
      position: fixed;
      top: 20px;
      right: 4%;
      z-index: 9999;
    }
  }
}

/* BUTTON CSS */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: none;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
